* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

.input-biz {
  width: 100%;
}

.shadow {
  box-shadow: 0px 2px 0.25rem rgba(0, 0, 0, 0.2) !important;
}

.normal-text {
  color: rgba(0, 0, 0, 0.85);
}

.grey-text {
  color: #8C8C8C;
}

.green-text {
  color: #52C41A;
}

.red-text {
  color: #FF4D4F;
}

.yellow-text {
  color: #FAAD14;
}

.small-size {
  font-size: 12px;
}

.normal-size {
  font-size: 14px;
}

.bold-text {
  font-weight: 500;
}

[role=button] {
  cursor: pointer;
}

.sidebar-left.active {
  width: 48px;
}
.sidebar-left.active .sidebar-box-title, .sidebar-right.active .sidebar-box-title {
  display: none;
}
.sidebar-left.active .sidebar-box-options .sidebar-link, .sidebar-left.active .sidebar-box-options .sidebar-collapse, .sidebar-right.active .sidebar-box-options .sidebar-link, .sidebar-right.active .sidebar-box-options .sidebar-collapse {
  padding: 9px 16px;
}
.sidebar-left.active .sidebar-box-options .sidebar-link .wrap-svg, .sidebar-left.active .sidebar-box-options .sidebar-collapse .wrap-svg, .sidebar-right.active .sidebar-box-options .sidebar-link .wrap-svg, .sidebar-right.active .sidebar-box-options .sidebar-collapse .wrap-svg {
  width: 16px;
  height: auto;
  margin-right: 25px;
}
.sidebar-left.active .sidebar-box-options .sidebar-link .wrap-svg svg, .sidebar-left.active .sidebar-box-options .sidebar-collapse .wrap-svg svg, .sidebar-right.active .sidebar-box-options .sidebar-link .wrap-svg svg, .sidebar-right.active .sidebar-box-options .sidebar-collapse .wrap-svg svg {
  width: 16px;
  height: auto;
}
.sidebar-left.active .sidebar-box-options .sidebar-collapse, .sidebar-right.active .sidebar-box-options .sidebar-collapse {
  margin-bottom: 8px;
}
.sidebar-left.active .sidebar-box-options .sidebar-collapse-content, .sidebar-right.active .sidebar-box-options .sidebar-collapse-content {
  margin-left: 0;
}
.sidebar-left.active .sidebar-box-options .options .option-child-list .sidebar-link, .sidebar-right.active .sidebar-box-options .options .option-child-list .sidebar-link {
  padding: 12px 15px;
  height: 40px;
}
.sidebar-left.active .sidebar-box-options .options .option-child-list .sidebar-link .sidebar-logo img, .sidebar-right.active .sidebar-box-options .options .option-child-list .sidebar-link .sidebar-logo img {
  width: 20px;
}
.sidebar-left.active .sidebar-box-options .options .option-child-list .sidebar-link .sidebar-text, .sidebar-right.active .sidebar-box-options .options .option-child-list .sidebar-link .sidebar-text {
  max-height: 15px;
  transition: 0.5s ease-out;
  overflow-y: hidden;
}
.sidebar-right.active {
  width: 64px;
}
.sidebar-right.active .sidebar-box-options .sidebar-link, .sidebar-right.active .sidebar-box-options .sidebar-collapse {
  padding: 12px 24px;
}

.wrap-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin 0.7s;
}

.search-input-left {
  width: 100%;
  position: relative;
}
.search-input-left .input-biz {
  padding: 5px 12px 5px 30px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  transition: all 0.3s;
}
.search-input-left .input-biz:hover {
  box-shadow: 0 0.25rem 1.125rem 0 rgba(0, 0, 0, 0.11);
  border: solid 1px #4D7FF8 !important;
}
.search-input-left .input-biz:focus {
  outline: 0;
  box-shadow: 0 0.25rem 1.125rem 0 rgba(0, 0, 0, 0.11);
  border: solid 1px #4D7FF8 !important;
}
.search-input-left .search-left-icon {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 14px;
  height: 14px;
}

.custom-scrollbar {
  overflow-y: auto;
}
.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.content {
  height: 100vh;
  width: 100%;
}

.wrap-text {
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rotate-img {
  transform: rotate(180deg);
}

.header {
  position: fixed;
  z-index: 1;
  top: 0px;
  padding: 0 17px;
  height: 64px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: start;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 230px;
  height: 100%;
}
.header-logo .header-toggle {
  margin-right: 16px;
}
.header-logo .header-toggle .wrap-svg {
  width: 20px;
  height: 20px;
}
.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header-navbar .header-nav .nav-options {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-navbar .header-nav .nav-dropdown {
  margin: 7px 16px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 2px;
}
.header-navbar .header-nav .nav-dropdown div {
  padding: 0px 12px;
}
.header-navbar .header-nav .dropdown-menu-projects {
  width: 305px;
  height: 370px;
  padding: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #FFFFFF;
  top: 5px !important;
}
.header-navbar .header-nav .dropdown-menu-projects .search-projects {
  margin-bottom: 16px;
}
.header-navbar .header-nav .dropdown-menu-projects .list-dropdown-item {
  max-height: 232px;
}
.header-navbar .header-nav .dropdown-menu-projects .list-dropdown-item .dropdown-items .dropdown-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px 5px;
}
.header-navbar .header-nav .dropdown-menu-projects .list-dropdown-item .dropdown-items .normal-size {
  transition: all 0.3s;
}
.header-navbar .header-nav .dropdown-menu-projects .list-dropdown-item .dropdown-items:hover .normal-size {
  color: #1890FF;
}
.header-navbar .header-nav .dropdown-menu-projects .create-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  padding: 4px 0;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
  border-radius: 2px;
  cursor: pointer;
}
.header-navbar .header-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}
.header-navbar .header-options .list-option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header-navbar .header-options .list-option .options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 12px;
}
.header-navbar .header-options .list-option .options .wrap-svg {
  width: 16px;
  height: 16px;
}
.header-navbar .header-options .list-option .options .dropdown-menu-options {
  top: 30px !important;
  right: -10px !important;
  position: relative;
  width: 240px;
  border: none;
}
.header-navbar .header-options .list-option .options .dropdown-menu-options .head-dropdown-menu, .header-navbar .header-options .list-option .options .dropdown-menu-options .options, .header-navbar .header-options .list-option .options .dropdown-menu-options .bottom-dropdown-menu {
  transition: 0.3s all;
}
.header-navbar .header-options .list-option .options .dropdown-menu-options .head-dropdown-menu:hover, .header-navbar .header-options .list-option .options .dropdown-menu-options .options:hover, .header-navbar .header-options .list-option .options .dropdown-menu-options .bottom-dropdown-menu:hover {
  background-color: #f8f9fc;
}
.header-navbar .header-options .list-option .options .dropdown-menu-options .head-dropdown-menu {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 13px 24px;
  box-shadow: inset 0px -1px 0px #F0F0F0;
}
.header-navbar .header-options .list-option .options .dropdown-menu-options .head-dropdown-menu img {
  margin-right: 15px;
  width: 40px;
  height: 40px;
}
.header-navbar .header-options .list-option .options .dropdown-menu-options .head-dropdown-menu div a {
  padding: 5px 8px;
  background: #FAFAFA;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
}
.header-navbar .header-options .list-option .options .dropdown-menu-options .list-options .options {
  margin: 0;
}
.header-navbar .header-options .list-option .options .dropdown-menu-options .list-options .options .option-link {
  width: 100%;
  padding: 5px 24px;
  margin: 4px 0;
}
.header-navbar .header-options .list-option .options .dropdown-menu-options .bottom-dropdown-menu .option-link {
  display: block;
  border-top: 1px solid #F0F0F0;
  width: 100%;
  padding: 5px 24px;
  margin: 4px 0;
}
.header-navbar .header-options .list-option .options .dropdown-menu-options .dropdown-arrow-position img {
  width: 15px;
  height: 8px;
  position: absolute;
  top: -7px;
  right: 10px;
}

.sidebar {
  position: fixed;
  top: 64px;
  left: 0;
  display: flex;
  height: 100%;
}
.sidebar-left, .sidebar-right {
  transition: 0.7s all;
  padding-top: 8px;
}
.sidebar-left {
  width: 240px;
  box-shadow: inset -1px 0px 0px #F0F0F0;
}
.sidebar-right {
  width: 220px;
  box-shadow: inset -1px 0px 0px #F0F0F0;
  position: relative;
}
.sidebar-right .slide-sidebar {
  width: 14px;
  position: absolute;
  top: 400px;
  right: -14px;
  background-color: #4D7FF8;
  z-index: 100;
}
.sidebar-right .slide-sidebar img {
  width: 14px;
  height: 66px;
}
.sidebar-box {
  box-shadow: inset 0px -1px 0px #f0f0f0;
  margin-top: 8px;
}
.sidebar-box-title {
  color: #8C8C8C;
  font-size: 12px;
  padding: 8px 24px;
}
.sidebar-box-options .options {
  margin-bottom: 8px;
}
.sidebar-box-options .options .wrap-svg svg path {
  transition: 0.3s all;
}
.sidebar-box-options .options .option-child-list .sidebar-link {
  padding-left: 48px;
  height: 56px;
}
.sidebar-box-options .options .option-child-list .sidebar-text {
  max-width: 140px;
  max-height: 45px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.sidebar-box-options .options .option-child-list .sidebar-logo {
  width: 24px;
  height: 24px;
}
.sidebar-box-options .options .option-child-list .sidebar-name {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
}
.sidebar-box-options .options .option-child-list .sidebar-status {
  font-size: 12px;
}
.sidebar-box-options .options .option-child-list .option-hover .sidebar-logo {
  transition: opacity 0.3s;
}
.sidebar-box-options .options .option-child-list .option-hover .sidebar-text .sidebar-name {
  transition: all 0.3s;
}
.sidebar-box-options .options .option-child-list .option-hover:hover .sidebar-logo {
  transition: all 0.5s;
  opacity: 0.5;
}
.sidebar-box-options .options .option-child-list .option-hover:hover .sidebar-text .sidebar-name {
  color: #1890FF;
  transition: all 0.5s;
}
.sidebar-box-options .option-hover:hover .sidebar-collapse-content .sidebar-name, .sidebar-box-options .option-hover:hover .sidebar-collapse-content .sidebar-quantity {
  color: #1890FF;
}
.sidebar-box-options .option-hover:hover .wrap-svg svg path {
  fill: #1890FF;
}
.sidebar-box-options .option-hover:hover .sidebar-label {
  color: #1890FF;
}
.sidebar-box-options .sidebar-logo {
  width: 14px;
  height: 14px;
  margin-right: 12px;
  transition: margin-right 0.7s;
}
.sidebar-box-options .sidebar-label {
  transition: all 0.3s;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
}
.sidebar-box-options .option-active {
  background: #E6F7FF;
  border-right: 3px solid #1890FF;
}
.sidebar-box-options .option-active .sidebar-collapse-content .sidebar-name, .sidebar-box-options .option-active .sidebar-collapse-content .sidebar-quantity {
  color: #1890FF;
}
.sidebar-box-options .option-active .wrap-svg svg path {
  fill: #1890FF;
}
.sidebar-box-options .option-active .sidebar-label {
  color: #1890FF;
}
.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: start;
  transition: all 0.7s;
  padding: 9px 24px;
  line-height: 22px;
  height: 40px;
}
.sidebar-collapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;
}
.sidebar-collapse-content {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0 5px 0 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
}
.sidebar-collapse-content .sidebar-name {
  transition: 0.3s all;
  margin-right: 2px;
  display: inline-block;
  max-width: 140px;
}
.sidebar-collapse [data-change=rotate] {
  transition: all 0.5s;
}
.sidebar-wrap {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
