* {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-style: $font-style;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    color: unset;
}

.input-biz {
    width: 100%;
}

// 

.shadow {
    box-shadow: 0px 2px 0.25rem rgb(0 0 0 / 20%) !important;
}

// colors
.normal-text {
    color: $normal-text;
}

.grey-text {
    color: $grey-text;
}

.green-text {
    color: $green-text;
}

.red-text {
    color: $red-text;
}

.yellow-text {
    color: $yellow-text;
}

// size
.small-size {
    font-size:  $small-size;
}

.normal-size {
    font-size: $normal-size;
}

.bold-text {
    font-weight: $bold-text;
}


// 
[role="button"] {
    cursor: pointer;
}