.sidebar {
    &-left.active {
        width: 48px;
    }

    &-left.active, &-right.active {
        .sidebar-box-title {
            display: none;
        }

        .sidebar-box-options {
            .sidebar-link, .sidebar-collapse {
                padding: 9px 16px;

                .wrap-svg {
                    width: 16px;
                    height: auto;
                    margin-right: 25px;

                    svg {
                        width: 16px;
                        height: auto;
                    }
                } 
            }

            .sidebar-collapse { 
                &-content {
                    margin-left: unset;
                }
                margin-bottom: 8px;
            }

            .options .option-child-list .sidebar-link {
                padding: 12px 15px;
                height: 40px;
                .sidebar-logo img {
                    width: 20px;
                    max-width: none;
                }

                .sidebar-text {
                    max-height: 15px;
                    transition: 0.5s ease-out;
                    overflow-y: hidden;
                }
            }

        }

    }

    &-right.active {
        width: 64px;

        .sidebar-box-options {
            .sidebar-link, .sidebar-collapse {
                padding: 12px 24px;
            }
        }
    }
}


