// font
$font-family: 'Roboto', sans-serif;
$font-style: 'Roboto', sans-serif;

// colors
$grey-text: rgba(0, 0, 0, 0.45);
$green-text: #52C41A;
$blue-text: #1890FF;

// size
$small-size: 12px;
$normal-size: 14px;
$bold-text: 500;;