// font
$font-family: 'Roboto', sans-serif;
$font-style: 'Roboto', sans-serif;

// colors
$normal-text: rgba(0, 0, 0, 0.85);
$green-text: #52C41A;
$blue-text: #1890FF;
$red-text: #FF4D4F;
$grey-text: #8C8C8C;
// size
$small-size: 12px;
$normal-size: 14px;
$bold-text: 500;;